<!DOCTYPE html>
<html>
<head class="head">
    <title>Weather Trendz</title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    {{block scripts}}
    {{end}}
    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/base.css')}}">
	<script type="text/javascript" src="{{=URL('static','js/jquery.js')}}"></script>


</head>

<body> 
    <header>
        <h1>Weather Trendz</h1>
        <br/>
        <h4>Let's talk about the weather!</h4>
    </header>

    <nav>
<a href="{{=URL('highsAndLows')}}">Highs and Lows</a>  |  
<a href="{{=URL('precipitation')}}">Precipitation</a>  |  
<a href="{{=URL('snowfall')}}">Snow Records</a>  |  
<a href="{{=URL('forcasted')}}">Prediction Comparisons</a>  |
<a href="{{=URL('trendz')}}">Decorah Trendz</a>

    </nav>

    <section class="Agraph">
        {{block mygraph}}
OH look! A graph will go here.
        {{end}}
    </section>

	<span style="clear:both;"></span>
	
    <footer style=" position:absolute;bottom:0;">

    <address>
    Created by <a href="mailto:nowoja01@luther.edu"> Jake Nowosatka </a> and <a href="mailto:mcrosa01@luther.edu"> Sarah McRoberts </a>
    </address>
    </footer>
</body>

</html>
