{{extend 'display/base.html'}}

<head class="head">
{{block scripts}}
    <script type="text/javascript"> var rows= {{=rows,escape=False}}</script>
	<script type="text/javascript"> var zcodes= {{=zipcodes,escape=False}}</script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/web2py.js')}}"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" src="{{=URL('static','js/forcasted.js')}}"></script>
	
{{end}}
</head>
    <section class="Agraph">
        {{block mygraph}}
		<div id="graphcontrols" class="inlineblock" >
			Zip Codes:
			<select id="zipcodes" value="52101">
			{{for item in zipcodes:}}
				{{if item['zip_code'] == 52101:}}
					{{=OPTION(item['zip_code'], _selected=True)}}
				{{else:}}
					{{=OPTION(item['zip_code'])}}
				{{pass}}
			{{pass}}
			</select>
			<br/>
			<div class="hidden" id="error_banner"></div>
			Start Date: <input type="date" id="start_date" /> <br/>
			End Date:   <input type="date" id="end_date" /> <br/>
			<button onclick="updateData">Update</button> <br/><br/>
			
			Actual High Average: <span id="actualhigh"></span> <br/>
			One Day High Average: <span id="onedayhigh"></span><br/>
			Three Day High Average: <span id="threedayhigh"></span><br/>
			
		</div>
        <div id="visualization"></div>
		{{end}}
	<section />
