{{extend 'display/base.html'}}

<head class="head">
{{block scripts}}
    <script> var rows= {{=rows,escape=False}}</script>
    <script type="text/javascript" src="{{=URL('static','js/highsAndLows.js')}}"></script>
{{end}}
</head>

    <section class="Agraph">
        {{block mygraph}}
		<div id="graphcontrols" class="inlineblock">
		    <div class="hidden" id="error_banner"></div>
			Start Date: <input type="date" id="start_date" /> <br/>
			End Date:   <input type="date" id="end_date" /> <br/>
			<button onclick="updateData()">Update</button> <br/> <br/>
			
			Average High: <span id="highavg"></span> <br/>
			Record High: <span id="highrec"></span> <br/> <br/>
			
			Average Low: <span id="lowavg"></span><br/>
			Record Low: <span id="lowrec"></span><br/>
        </div> 
        <div id="visualization"></div>
        {{end}}
    </section>
