{{extend 'display/base.html'}}

<head class="head">
{{block scripts}}
    <script type="text/javascript">  var rows= {{=rows,escape=False}}</script>
    <script type="text/javascript" src="{{=URL('static','js/snowfall.js')}}"></script>
{{end}}
</head>
    <section class="Agraph">
        {{block mygraph}}
        <div id="graphcontrols" class="inlineblock">
		 Start Date: <input type="date" id="start_date" /> <br/>
		 End Date:   <input type="date" id="end_date" /> <br/>
		 <button onclick="updateData()">Update</button> <br/>
        </div>
         <div  id="highs"></div>
         <div id="totals"></div>
        {{end}}
    </section>
