{{extend 'display/base.html'}}

<head class="head">
{{block scripts}}
    <script type="text/javascript"> var rows= {{=rows,escape=False}}</script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" src="{{=URL('static','js/trendz.js')}}"></script>
	
{{end}}
</head>
    <section class="Agraph">
        {{block mygraph}}
		<div id="graphs">
			<br/>
			Highs and Lows:<br/>
			<div id="tempvisualization" ></div>
			<br/>
			<div id="precipvisualization"></div>
		</div>
		<div id="graphcontrols" class="inlineblock">
			<div class="hidden" id="error_banner"></div>
			Trending Date: <input type="date" id="trending_date" /> <br/>
			Looking back:
			<select id="yearsback">
				<option value=5>5 years</option>
				<option value=15>15 years</option>
				<option value=50>50 years</option>
				<option value=100>100 years</option>
				<option value=1000>All the years</option>
			</select>
			<button onclick="updateData()">Update</button> <br/><br/>
			Record High: <span id="recordhigh"></span> <br>
			Average High: <span id="highavg"></span> <br/><br/>
			Record Low: <span id="recordlow"></span> <br/>
			Average Low: <span id="lowavg"></span><br/><br/>
			Record Rain: <span id="recordrain"></span><br/>
			Record Snow: <span id="recordsnow"></span>
		</div>
		{{end}}
	<section />
